.slider{
    position: relative;
    //margin: 50px 0;
    background-color: #F8F8F8;
    height: 400px;
        @media only screen and (max-width: 1250px){
        display: none;
        }
}
.slider_content{
    height: 400px;
    width: 1248px;
    //background-image: url(../../images/slide_1.png);
    margin: 0 auto;
}
.arrows{
    position: absolute;
    width: 954px;
    top:155px;
    padding: 0 210px;
    display: flex;
    justify-content:space-between;
    img{
        cursor: pointer;
    }
}